In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv("./House-prices.csv")
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790       2.0          2       2    No         East
1       2  114200  2030       4.0          2       3    No         East
2       3  114800  1740       3.0          2       1    No         East
3       4   94700  1980       NaN          2       3    No         East
4       5  119800  2130       3.0          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900       3.0          3       3   Yes         East
124   125  147900  2160       4.0          3       3   Yes         East
125   126  113500  2070       NaN          2       2    No        North
126   127  149900  2020       3.0          3       1    No         West
127   128  124600  2250       3.0          3       4    No        North

[128 rows x 8 columns]

In [20]:
import math
median_bedrooms = math.floor(df.Bedrooms.median())
median_bedrooms

3

In [21]:
# fill the missing values in the table using fillna function
df.Bedrooms = df.Bedrooms.fillna(median_bedrooms)
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790       2.0          2       2    No         East
1       2  114200  2030       4.0          2       3    No         East
2       3  114800  1740       3.0          2       1    No         East
3       4   94700  1980       3.0          2       3    No         East
4       5  119800  2130       3.0          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900       3.0          3       3   Yes         East
124   125  147900  2160       4.0          3       3   Yes         East
125   126  113500  2070       3.0          2       2    No        North
126   127  149900  2020       3.0          3       1    No         West
127   128  124600  2250       3.0          3       4    No        North

[128 rows x 8 columns]

In [22]:
model = LinearRegression()
model.fit(df[['SqFt','Bedrooms','Bathrooms','Offers']],df.Price)

LinearRegression()

In [23]:
model.coef_

array([    63.59111634,   8329.83542667,  13203.47774912, -13588.97635016])

In [24]:
model.intercept_

-19316.868774358358

In [25]:
model.predict([[2500,4.0,4,2]])

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([198616.2220848])

In [26]:
# y = (63.59111634 * 2500 + 8329.83542667 * 4.0 + 13203.47774912 * 4 + -13588.97635016 * 2) + -19316.868774358358
# y = ( m1*x1 + m2*x2 + m3*x3 + m4*x4 ) + b
(63.59111634 * 2500 + 8329.83542667 * 4.0 + 13203.47774912 * 4 + -13588.97635016 * 2) + -19316.868774358358

198616.22207848166